<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <title>The Plant Based Experiment</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header class="sec">
            <section class="headerContent secContent row row1">
                <div class="logoDiv">
                    <div class="imgHolder">
                        <img src="img/logo.svg" alt="A small Leaf">
                    </div>
                    <div class="logoContent">
                        <h2 class="logoTitle">The Plant-Based Experiment</h2>
                        <p class="logoP">Unlock the Benefits of a Plant Based Diet</p>
                    </div>
                </div>
                <ul class="nav">
                    <li class="navItem">
                        <a href="#ask">Ask Yourself</a>
                    </li>
                    <li class="navItem">
                        <a href="#what">What is it</a>
                    </li>
                    <li class="navItem">
                        <a href="#learn">What You Will Learn</a>
                    </li>
                    <li class="navItem">
                        <a href="#faq">FAQ</a>
                    </li>
                    <li class="navItem">
                        <a href="#start">Get Started</a>
                    </li>
                </ul>
            </section>
        </header>
        <section class="menuOverlay">
            <div class="closeBtn">
                X
            </div>
            <section class="menuOverlayContent row row2">
                <ul class="navMenuOverlay">
                    <li class="navMenuOverlayItem">
                        <a href="#ask">Ask Yourself</a>
                    </li>
                    <li class="navMenuOverlayItem">
                        <a href="#what">What is it</a>
                    </li>
                    <li class="navMenuOverlayItem">
                        <a href="#learn">What Will You Learn</a>
                    </li>
                    <li class="navMenuOverlayItem">
                        <a href="#faq">FAQ</a>
                    </li>
                    <li class="navMenuOverlayItem">
                        <a href="#start">Get Started</a>
                    </li>
                </ul>
            </section>
        </section>
        <section class="mobileMenu sec">
            <section class="mobileMenuContent row row3">
                <ul class="mobileNav">
                    <li class="mobileNavItem">
                        <a href="#ask">Ask Yourself</a>
                    </li>
                    <li class="mobileNavItem">
                        <a href="#what">What is it</a>
                    </li>
                    <li class="mobileNavItem">
                        <a href="#learn">What You Will Learn</a>
                    </li>
                    <li class="mobileNavItem">
                        <a href="#faq">FAQ</a>
                    </li>
                    <li class="mobileNavItem">
                        <a href="#start">Get Started</a>
                    </li>
                </ul>
                <div class="mobileMenuIcon imgHolder">
                    <img src="img/menuicon.png" alt="3 horizontal lines">
                </div>
            </section>
        </section>
        <section class="heroSec sec">
            <section class="herosecContent secContent row row4">
                <h1 class="secTitle heroSecTitle">
                    The Plant-Based Experiment
                </h1>
                <p class="heroSecSubtitle">
                    Experiment with a plant-based diet and healthy lifestyle to find the best diet for you.
                </p>
                <button class="heroSecBtn">Get Started</button>
            </section>
            <section class="heroSecOverlay secOverlay">

            </section>
            <div class="imgHolder herosecImg secImg">
                <img src="img/field-of-plants-background-hidef.svg" alt="A field of cabbage">
            </div>
        </section>
        <section id="ask" class="askSec sec">
            <section class="askSecContent secContent row row5">
                <h3 class="askSecTitle secTitle">
                    Ask Yourself
                </h3>
                <p class="askSecP secP">
                    How do you feel about how your body looks, feels and performs right now?
                </p>
                <p class="askSecP secP">
                    What is or has it cost you to live this way?
                </p>
                <p class="askSecP secP lastSecP">
                    If you could resolve these issues just by changing a few small things, would you?
                </p>
            </section>
            <div class="imgHolder absoluteImg">
                <img src="img/pear-hidef & desktop.svg" alt="A pear">
            </div>
        </section>
        <section class="peopleSec sec">
            <section class="peopleSecContent secContent row row6">
                <h3 class="peopleSecTitle secContentTitle">
                    A lot of people seek a new diet for a variety of reasons, here are just a few
                </h3>
                <div class="peopleDiv peopleDiv1">
                    <div class="peopleDivContent">
                        <h3 class="peopleDivH3 peopleDiv1-H3">Health</h3>
                        <p class="peopleDivP peopleDiv1-P">
                            People get sick an in the worst case can end up with serious illnesses such as heart disease and diabetes.
                        </p>
                    </div>
                    <div class="imgHolder peoleDivImg peopleDivImg1">
                        <img src="img/woman-walking-background-mobile.png" alt="A woman walking in a field">
                    </div>
                </div>
                <div class="peopleDiv peopleDiv2">
                    <div class="peopleDivContent">
                        <h3 class="peopleDivH3 peopleDiv2-H3">Goals</h3>
                        <p class="peopleDivP peopleDiv2-P">
                            People want to obtain certain goals, anything from losing weight and fitting into those old jeans to gaining muscle and performing better in the gym.
                        </p>
                    </div>
                    <div class="imgHolder peoleDivImg peopleDivImg2">
                        <img src="img/woman-on-mountain-background-mobile.svg" alt="A woman on mountain">
                    </div>
                </div>
                <div class="peopleDiv peopleDiv3">
                    <div class="peopleDivContent">
                        <h3 class="peopleDivH3 peopleDiv3-H3">Experimentation</h3>
                        <p class="peopleDivP peopleDiv3-P">
                            People just want to try new things, try new ways of eating and seeing how it effects them and their lives.
                        </p>
                    </div>
                    <div class="imgHolder peoleDivImg peopleDivImg3">
                        <img src="img/man-jumping-on-mountain-background-mobile.svg" alt="A man jumping on mountain">
                    </div>
                </div>
            </section>
            <section class="peopleSecOverlay secOverlay">
                
            </section>
            <div class="imgHolder peopleSecImg secImg">
                <img src="img/woman-walking-background-hidef.jpg" alt="A woman walking in a field">
            </div>
        </section>
        <section id="what" class="plantSec sec">
            <section class="plantSecContent secContent row row7">
                <div class="plantSecContent plantSecContent1">
                    <h3 class="plantSecContentTitle">What Is The Plant-Based Experiment</h3>
                    <p class="plantSecContentP">The Plant-based experiment is a 14 week program that will take you from where you are now to eating a healthy plant-based diet.</p>
                </div>
                <div class="plantSecContent plantSecContent2">
                    <div class="plantDivContent plantDivContent1">
                        <h1 class="jumbo jumbo1">1</h1>
                        <p class="plantDivContentP plantDivContentP1">We assess where you are at now.</p>
                    </div>
                    <div class="plantDivContent plantDivContent2">
                        <h1 class="jumbo jumbo2">2</h1>
                        <p class="plantDivContentP plantDivContentP2">We try something new and exciting.</p>
                    </div>
                    <div class="plantDivContent plantDivContent3">
                        <h1 class="jumbo jumbo3">3</h1>
                        <p class="plantDivContentP plantDivContentP3">We wait for a set period of time and then measure how that affects you.</p>
                    </div>
                    <div class="plantDivContent plantDivContent4">
                        <h1 class="jumbo jumbo4">4</h1>
                        <p class="plantDivContentP plantDivContentP4">We make a detailed review of your progress.</p>
                    </div>
                </div>
                <div class="plantSecContent plantSecContent3">
                    <button class="plantDivBtn">Get Started</button>
                </div>
            </section>
            <div class="imgHolder absoluteImg">
                <img src="img/half-of-papaya-hidef & desktop.svg" alt="A papaya">
            </div>
        </section>
        <section id="learn" class="learnSec sec">
            <section class="learnSecContent secContent row row8">
                <div class="row row1 learnContent">
                    <h3 class="learnContentH3">What You Will Learn</h3>
                    <p class="learnContentP">This course is simply a personal experiment to see if a plant-based whole food diet suits you.</p>
                </div>
                <div class="row row2">
                    <div class="col col1">
                        <ul class="learnUl">
                            <li class="learnLi learnLi1">We'll guide you so that you're not overwhelmed by a sudden dietary change.</li>
                            <li class="learnLi learnLi2">What to eat ona daily basis.</li>
                            <li class="learnLi learnLi3">How to eat for your health and fitness goals.</li>
                            <li class="learnLi learnLi4">How to swap out animal based food in an easy and sustainable manner.</li>
                            <li class="learnLi learnLi5">Why the myths surrounding this diet are false and show you the facts.</li>
                            <li class="learnLi learnLi6">How to build the perfect meal.</li>
                            <li class="learnLi learnLi7">How to monitor and measure your progress.</li>
                            <li class="learnLi learnLi8">Make an informed decision on how you feel best.</li>
                        </ul>
                    </div>
                    <div class="col col2 imgHolder">
                        <img src="img/bowl-of-fruits-hidef & desktop.svg" alt="A bowl of fruits">
                    </div>
                </div>
            </section>
            <section class="learnSecOverlay secOverlay"></section>
            <div class="imgHolder learnSecImg secImg">
                <img src="img/man-jumping-on-mountain-background-hidef.svg" alt="A woman walking in a field">
            </div>
        </section>
        <section id="faq" class="faqSec sec">
            <section class="faqSecContent secContent row row9">
                <div class="row row1">
                    <h2 class="titleH2">Frequently Asked Questions</h2>
                </div>
                <div class="row row2">
                    <ul class="faqUl">
                        <li class="faqLi faqLi1">
                            <div class="quesCont">
                                <p class="titleP">Is This Course For You?</p>
                                <div class="imgHolder">
                                    <img src="img/arrow.svg" alt="A right arrow">
                                </div>
                            </div>
                            <p class="answer">I am sure that this course will benefit you no matter what situation you are in.
                                But there is always a reason not to change. I want to cover most peoples main concerns so that 
                                you know whether this is the right decision for you.
                            </p>
                        </li>
                        <li class="faqLi faqLi2">
                            <div class="quesCont">
                                <p class="titleP">Will I Get Enough Protein?</p>
                                <div class="imgHolder">
                                    <img src="img/arrow.svg" alt="A right arrow">
                                </div>
                            </div>
                            <p class="answer">Fusce feugiat nunc augue, ac commodo nulla ultricies non. Sed ornare libero nec erat 
                                pellentesque convallis. Integer sit amet purus ac ex posuere cursus. Nullam lobortis turpis diam, 
                                sit amet euismod leo tempus nec.
                            </p>
                        </li>
                        <li class="faqLi faqLi3">
                            <div class="quesCont">
                                <p class="titleP">How Big Will This Change Be?</p>
                                <div class="imgHolder">
                                    <img src="img/arrow.svg" alt="A right arrow">
                                </div>
                            </div>
                            <p class="answer">Sed in congue leo. Sed vitae nisl a magna eleifend rhoncus. Nullam ultricies magna tellus. 
                                Aenean ultrices porta ante eget bibendum. Maecenas ipsum nunc, pulvinar non eros in, varius facilisis turpis.
                            </p>
                        </li>
                        <li class="faqLi faqLi4">
                            <div class="quesCont">
                                <p class="titleP">But I Love "Insert Food Here", Will I Have To Give It Up?</p>
                                <div class="imgHolder">
                                    <img src="img/arrow.svg" alt="A right arrow">
                                </div>
                            </div>
                            <p class="answer">Etiam metus libero, commodo et feugiat sed, molestie sed elit. Nullam imperdiet lacus quam, at fermentum 
                                odio fringilla et. Morbi faucibus tincidunt pretium. Nam in metus dolor. Pellentesque ac porttitor sapien. Curabitur nec augue dolor.
                            </p>
                        </li>
                        <li class="faqLi faqLi5">
                            <div class="quesCont">
                                <p class="titleP">What Is The Personal Diet Template?</p>
                                <div class="imgHolder">
                                    <img src="img/arrow.svg" alt="A right arrow">
                                </div>
                            </div>
                            <p class="answer">Sed in commodo nisl, id volutpat erat. Nunc quis efficitur risus. Sed ultrices nec metus fringilla facilisis. Pellentesque 
                                vitae odio et lectus efficitur porttitor. In placerat arcu vel est semper, at mollis leo viverra.
                            </p>
                        </li>
                        <li class="faqLi faqLi6">
                            <div class="quesCont">
                                <p class="titleP">Does The Plan Just Cover Diet?</p>
                                <div class="imgHolder">
                                    <img src="img/arrow.svg" alt="A right arrow">
                                </div>
                            </div>
                            <p class="answer">Maecenas consecetur odio eget ipsum fermentum tristique. Vestibulum id sollicitudin libero. Suspendisse vestibulum pharetra 
                                lorem, in rhoncus mauris fermentum ac. In laoreet bibendum rhoncus. Proin massa mi, tempor et massa id, pulvinar pharetra.
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
            <div class="imgHolder faqSecImg secImg">
                <img src="img/logo-2-all-screens.svg" alt="A leaf">
            </div>
        </section>
        <section id="start" class="emailSec sec">
            <section class="emailSecContent secContent row row10">
                <div class="row row1">
                    <div class="col col1">
                        <h2 class="titleH2">Try Something New, Get Healthier And Happier Today</h2>
                        <p class="emailP">This course is about doing what's best for you and your body. If there is chance that you could
                            feel better, healthier and more energized each day, why wouldn't you take it? Sign up now and if you see no difference
                            after finishing the course we'll give you your money back.
                        </p>
                    </div>
                    <form class="col col2">
                        <input type="text" placeholder="John" class="nameInput emailInput1">
                        <input type="text" placeholder="John123@gmail.com" class="emailInput emailInput2">
                        <button class="emailBtn emailBtn3">Get Started</button>
                    </form>
                    <div class="messageDiv">
                        <p class="messageP">Email Sent!</p>
                    </div>
                </div>
            </section>
            <section class="emailSecOverlay secOverlay"></section>
            <div class="imgHolder emailSecImg secImg">
                <img src="img/woman-on-mountain-background-hidef-2.svg" alt="A woman on a mountain">
            </div>
        </section>
        <footer>
            <h3>&copy 2019 The Plant-Based Experiment</h3>
        </footer>
        <script src="app.js"></script>
    </body>
</html>